<% box(:special, 'project-header') do |box| %>
  <% box.title = "Getting Started" %>
  <% box.content = capture do %>

  <ul class="media-list">

      <li>Congratulations, you're the proud owner of a new account. Where to start?</li>

      <li>
        <h3>Philosophy</h3>
        <p>The important thing to remember is that time is always ticking.  No matter what you're doing,
        there she is, in the background, patiently waiting for you to notice her again.</p>
      </li>
  
      <li>
      <h3>1. (Ask your team lead to) Create some projects</h3>
        <p>XTT relies on projects to do the time tracking. You should ask your team lead to create or
      invite you to the appropriate projects.</p>
      </li>
      
      <li>
        <h3>2. What are you working on?</h3>
        <p>Now you record your current status and assign it to a project; or if there's no project
        (such as "commuting", or "sleep") you just don't assign a code.</p>
  
        <div class="example">
          <pre><code>Grocery shopping</code></pre>
          <pre><code>@test Writing code for ticket #34</code></pre>
        </div>
      </li>
      
      <li>
        <p>Found a bug?  file an issue on railsmachine/xtt
      </li>
  </ul>

  <% end %>
<% end %>

<% content_for :head do %>
<style type="text/css">

.example pre {
  background-color: #ff9;
  padding: 10px;
  margin: 10px 0;
}
.media-list p {
  margin: 5px 0;
}
</style>
<% end %>
