<% status.project = user.recent_projects.latest if status.new_record? -%>
<% form_for status, 
	   :url    => status.new_record? ? user_statuses_path(user) : status_path(status),
	   :method => status.new_record? ? :post : :put \
	 do |f| -%>
	<p>
		<%= f.select :project_id, current_user.all_projects.collect { |p| [p.name_with_parent, p.id] }, :include_blank => '[Out]' %>
		<%= f.text_field :message %>
	</p>
<% if !status.new_record? && status.processed? -%>
	<p><label>Hours: <%= f.text_field :hours, :maxlength => 7 %></label></p>
<% end -%>
	<p><%= submit_tag :Update %></p>
<% end -%>