<h3>Recent Statuses for <%=h @user.login %></h3>

<ul>
<% @user.statuses.each do |status| -%>
	<li>
		<%=h status.message %>
		<% unless status.hours.zero? -%>(<%= pluralize status.hours, 'hour' %>)<% end -%>
	</li>
<% end -%>
</ul>

<%= render :partial => "statuses/form", :locals => { :status => @user.statuses.build } %>