<h3><%=h @status.user.login %> status<% if @status.project? -%> for <%= link_to @status.project.name, @status.project %><% end -%></h3>

<%= render :partial => "form", :locals => { :status => @status } %>