<!-- just an example of how this might be shared -->
	<ul>
	<% group.users.each do |user| -%>
	  <% next unless user.statuses.for_group(group).latest %>
		<li><%=h user.login %>: <%=h user.statuses.for_group(group).latest.message %></li> 
	<% end -%>
	</ul>