<h1>What's Everyone Doing?</h1>

<p><%=h current_user.statuses.latest.message %></p>

<% current_user.groups.each do |group| -%>
	<h3><%= link_to h(group.name), group %></h3>
	<%= render :partial => 'groups/group', :locals => {:group => group} %>
<% end -%>