<% box(:special, 'profile') do |box| %>
  <% box.title = "Your profile" %>
  <% box.header_utils = capture do %>
    <%= link_to 'Profile' %> 
    <%= link_to 'Notifications' %>
    <%= link_to 'Colors' %>
  <% end %>
  
  <% box.content = capture do %>
    <% form_for @user, :html => { :class => 'form' } do |f| -%>
      <%= render :partial => 'form', :object => f %>
      <p class="btns"><input type="image" src="/images/btns/ghost.png" class="btn" /></p>
    <% end %>
  <% end %>
  
<% end %>
